.sumon{
	color: green;
 	font-size: 25px;
 }		


.rumi{
	color: #df1cbf;
 	font-size: 20px;
 }
 
 .sabul{
 	color: red;
 		font-size :20px;
 }
 .priti{color: darkblue;
 	font-size: 20px;
 }		

.baby{
	color: #9c6dba;
 	font-size: 20px;
 }
 .angel{
 	    color: #df9e1c;
 		font-size :20px;
 }
 
 img{width: 120px;
 	 height: 150px;
 }


 .bird{text-align: center;}

 .cat{color: greenyellow;
 	font-size: 20;
 }